<section class="contact" id="contact">
  <h2><i class="fas fa-paper-plane"></i> Contacto</h2>
  <div class="contact-container">
    <div class="contact-info">
      <h3><i class="fas fa-info-circle"></i> Información de contacto</h3>
      <p><i class="fas fa-map-marker-alt"></i> Valencia, España</p>
      <p><i class="fas fa-phone"></i> (555) 123-4567</p>
      <p><i class="far fa-envelope"></i> {{ email }}</p>
    </div>
    <form class="contact-form">
      <input type="text" placeholder="Tu Nombre">
      <input type="email" placeholder="Tu Email">
      <textarea placeholder="Tu Mensaje"></textarea>
      <button type="submit"><i class="fas fa-paper-plane"></i> Enviar</button>
    </form>
  </div>
</section>