<nav>
  <div class="logo"><i class="fas fa-brain"></i> Sandra Dual Alaminos</div>
  <ul [class.active]="isMenuOpen">
    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="#services"><i class="fas fa-hands-helping"></i> Services</a></li>
    <li><a href="#questions"><i class="fas fa-question-circle"></i> FAQ</a></li>
    <li><a href="#testimonials"><i class="far fa-comment-dots"></i> Testimonials</a></li>
    <li><a href="#contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</nav>