<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h4>Horario de Consulta</h4>
      <p><mat-icon>schedule</mat-icon>Lunes a Viernes: 5:30 PM - 9:30 PM</p>
      <p><mat-icon>location_on</mat-icon> Valencia, España</p>
    </div>
    <div class="footer-section">
      <h4>Contacto</h4>
      <p><mat-icon>email</mat-icon> {{ email }}</p>
    </div>
    <div class="footer-section profile-section">
      <div class="profile-content">
        <h4>Sígueme</h4>
        <div class="social-links">
          <a href="#" aria-label="LinkedIn" (click)="openLinkedin()"><i class="fab fa-linkedin"></i></a>
          <a href="#" aria-label="Instagram" (click)="openInstagram()"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="profile-image">
        <img src="/assets/foto-sandra-colegiado.png" alt="Sandra Dual Alaminos - Psicóloga">
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Psicóloga Sandra Dual Alaminos. Todos los derechos reservados.</p>
  </div>
</footer>