<section class="services" id="services">
  <h2><i class="fas fa-star"></i> Servicios Online para población Adulta y adolescentes</h2>
  <div class="service-grid">
    <div class="service-card">
      <i class="fas fa-user-friends fa-2x"></i>
      <h3>Terapia Psicológica Individual</h3>
      <p> Un espacio para abordar tanto problemas de salud mental como dificultades cotidianas que impactan tu bienestar emocional y calidad de vida.</p>
      <span class="price"><i class="fas fa-euro-sign"></i> 60/sesión</span>
    </div>
    <div class="service-card">
      <i class="fas fa-heart fa-2x"></i>
      <h3>Psicología Educativa</h3>
      <p> un espacio dedicado a abordar dificultades de aprendizaje, técnicas de estudio, problemas de motivación, manejo del estrés, orientación vocacional y otros desafíos académicos y personales.</p>
      <span class="price"><i class="fas fa-euro-sign"></i> 80/sesión</span>
    </div>
  </div>
</section>