<section class="testimonials" id="testimonials">
  <h2>Qué dicen mis clientes</h2>
  <div class="testimonial-grid">
    <div class="testimonial-card">
      <p>"Muy profesional en su campo, debo resaltar que al momento de pasar por mi primer cuadro de ansiedad , fue de mucha ayuda poder contar con su trabajo y acompañamiento, la empatía que tiene y poder contar con su confianza es lo más importante, agradecido con su gestión."</p>
      <span class="client">- Santiago</span>
    </div>
    <div class="testimonial-card">
      <p>"Una gran profesional. Me encantó ir a terapia con ella, me dio el tiempo necesario para explicarme y luego me explico detalladamente las herramientas que podía usar. He salido muy contenta y siento que gracias a sus consejos he mejorado."</p>
      <span class="client">- Ana</span>
    </div>
    <div class="testimonial-card">
      <p>"Me hizo sentir comprendida y acompañada en cada sesión, excelente profesional. Realmente siento una mejora en mi bienestar."</p>
      <span class="client">- Amparo</span>
    </div>
  </div>
</section>