<app-navigation-bar></app-navigation-bar>
<section class="hero">
  <div class="hero-content">
    <h1>Sesiones de terapia psicológica Online</h1>
    <h5>Especialización en terapia infanto-juvenil y adultos</h5>
    <p>Un espacio especializado en la evaluación y el tratamiento de problemas y trastornos de salud mental. Así como el afrontamiento de dificultades cotidianas que impactan en tu bienestar emocional y calidad de vida.</p>
    <button mat-raised-button color="primary" (click)="openDoctoralia()" class="cta-button">
      <mat-icon>calendar_today</mat-icon>Reservar una consulta
    </button>
  </div>
  <div class="hero-image">
    <img src="assets/image_3.jpeg" alt="Background">
  </div>
</section>